.body{
  font-size: 10px;
}

h1{
  color: #8F8ACD;
  font-size: 75px;
  text-align: left;
  font-family: "Champagne & Limousines";
  margin-left: 198px;
  margin-right: 198px;
  font-weight: bold;
}

h2 {
  font-size: 65px;
  color: #8B8100;
  margin-left: 198px;
  margin-right: 198px;
  font-family:"Madeleina Sans"
}

h4{
  margin-left: 198px;
  margin-right: 198px;
}

p{
  color: #2a2a2a;
  font-size: 20px;
  font-family: "WellrockSlab";
  line-height: 170%;
  margin-left: 198px;
  margin-right: 198px;
  font-weight: lighter;
}

a {
  font-weight: bold;
  color: #8F8ACD;
  text-decoration: none;
  font-family: "WellrockSlabBold";
}

.navbar{

}

.trunk-summary{
  background-image: url("../images/summary-background.png");
  background-repeat: no-repeat;
}

.trunk-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 46px;
  width: 50%;
}

section.trunk-title h1{
  font-family: "Champagne & Limousines";
  font-size: 150px;
  text-align: center;
  color: #8B8100;
  font-weight: bold;
  margin-top: 100px;
}


.trunk-underline{
  align-items: center;
  width: 40%;
  margin-top: 0px;
}


.prototype-link{
  text-decoration: none;
  color: #8F8ACD;
  font-size: 35px;
  letter-spacing: .2rem;
  font-weight: lighter;
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}

.trunk-summary p {
  color: #fff;
  font-weight: 100;
}

.trunk-summary h1{
  margin-top: 70px;
  margin-bottom: 47px;
}

section.problem h2{
  margin-left: 198px;
  margin-right: 198px;
  margin-bottom: 40px;

}

section.solution h2{
  margin-left: 0px;
  margin-bottom: 40px;

}

section.problem-sol{
  display: flex;
  justify-content: center;
  padding-bottom: 180px;
}

section.problem p{
  margin-right: 40px
  width: 30%;
  padding-right: 0px;
}

section.solution p{
  margin-left: 0px;
}
